.task code {
  white-space: pre;
}

.task del {
  position: relative;
  text-decoration: none;
  background-color: rgb(254, 215, 214);

  &::before {
    position: absolute;
    content: "-";
    top: 0;
    left: -20px;
  }
}

.task ins {
  position: relative;
  text-decoration: none;
  background-color: rgb(206, 254, 217);

  &::before {
    position: absolute;
    content: "+";
    top: 0;
    left: -20px;
  }
}

.task__table {
  border-bottom: 2px solid rgb(212, 211, 211);
  border-collapse: collapse;
  text-align: center;
  margin-left: -40px;

  @include vp-1200 {
    margin-left: -70px;
  }
}

.task__table th {
  font-weight: 600;
  border-bottom: 2px solid rgb(212, 211, 211);
  padding-right: 5px;
}

.task__table--1 th:nth-child(-n+11):nth-child(n+8),
.task__table--1 td:nth-child(-n+11):nth-child(n+8) {
  background-color: rgba(142, 254, 150, 0.8);
}

.task__table--2 th:nth-child(12),
.task__table--2 td:nth-child(12) {
  background-color: rgba(142, 254, 150, 0.8);
}
